// main color
$main-color:        #8B0000;
$secondary-color:   #708090;

// color message
$succes-color:      #4CAF50;
$warning-color:     #FFC107;
$danger-color:      #F44336;

// gray color
$black-color:       #1B1B1B;
$dark-gray-color:   #4F4F4F;
$medium-gray-color: #BDBDBD;
$light-gray-color:  #E0E0E0;
$white-color:       #F2F2F2;

//card color
$card_color_main:   #f7f7f7;